h1{
    text-align: center;
}

h2{
    color: darkblue;
    text-align: center;
}

#image {
    width: 600px;
    max-width: 100%;
    height: auto;
    padding: 20px 0px 20px 0px;
    align-content: center;
}
#img-div {
    text-align: center;
    background-color: white;
}

#img-caption {
padding-bottom: 30px;
}
#main {
    background: lightgrey;
    border-radius: 0.5%;
}

#tribute-info {
   
    word-wrap: break-word;
    
}